<div class="blog-body hire-me">

    <div class="hire-me-header">Hi!</div>

    <div>I'm Dax. I like cats, snakes, and making the world a better place. I am currently looking for my next adventure!</div>

    <div class="hire-me-header">About me:</div>
    <ul>
      <li>Motivated: I know how to start a project and how to keep momentum going.</li>
      <li>Quick learner: I know how I learn and what I need to learn, and I actively seek that out so that I can pick up new skills and tricks quickly.</li>
      <li>Passionate: When I am passionate about something, I go all in.</li>
      <li>Knows when to step away: I know when I need to let an idea marinate, I know when to reach out for advice and when to reach out for help. I know when I need to take a break so that I can let the creativity re-fill.</li>
    </ul>

  <div class="hire-me-header">About you:</div>
  <div>
    <ul>
      <li><b>Rarely is weekend work required and rarely is working late required</b>: this means that you know how to plan a project and use time effectively. Regularly requiring employees to work late and work weekends is a sign of bad project management and an inability to do proper estimatation. It's also incredibly disrespectful of your employees time and their family commitments.</li>
      <li>
        <b>Inclusive leave programs:</b> this means you have family leave policies that are inclusive of your LGBTQ workers and those without traditional families. Can adoptive parents access paternal and maternal leave? Does bereavement leave include chosen-family members? Let's talk!
      </li>
      <li>
        <b>Team bonding that does not focus on alcohol:</b> this means that your 'team bonding' activities happen in places that aren't bars and where the main draw is not the beer list. Companies I've been at where this was successful have done trips to view the eclipse, opening day screenings of the latest Star Wars, ice skating at the local park, and tours of new exhibits at museums.
      </li>
      <li> <b>Mostly or 100% remote:</b> I work best when I am able to work at home. I am a slack call pro and can easily navigate a long conference call. You should have a good flow for making sure remote employees are not left out of important conversations and have systems set up to support remote work already.</li>
      <li> <b>No "Unlimited Paid Time Off"</b> UPTO structures are usually selectively enforced and subject to a lot of unconcious bias. There is often no standard for what is "too much," and so it is usually the URMs who are told they are taking too much when their coworkers take even more. UPTO often disporportionately affects people with chronic illnesses, who use that time for doctors appointments, but are then told they've taken "too much" when they ask for actual vacation time. My ideal place would have 4 weeks of vacation and 2 weeks of sick time, plus leave for family emergencies and funerals.
      </li>
      <li><b>Don't work with the military:</b> You don't have any contracts with the DOD, State Department, or other arms of the United States military or ICE.</li>
    </ul>

    <div class="hire-me-header">
      Bonus / Nice To Have</div>
    <div>
      <ul>
        <li>Working in the civic / for-good sector</li>
        <li>50% of staff at every level is not white men</li>
        <li>A generous company match on employee charitable giving</li>
      </ul>
    </div>

  </div>

  <div class="hire-me-header">Interested? <%= link_to "Download my resume!", about_me_download_resume_pdf_url %></div>


</div>