
$gray-base:              #6B5463;
$gray-darker:            #98758B;
$gray-dark:              #8E6C6E;   // #333
$gray:                   #AB9FAC; // #555
$gray-light:             #BEB6BB; // #777
$gray-lighter:           #B9C8CD; // #eee

@import 'normalize';
@import 'slicknav';
@import 'font-awesome';
@import 'style';
