@media only screen and (max-width: 880px) {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: $gray-lighter;
  }

  p {
    color: $gray-dark;
  }

  a {
    text-decoration: none;
    color: $gray-dark;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $gray;
  }

  /* mobile navigation */

  .js #primary_nav {
    display: none;
  }

  #primary_nav {
    display: none;
  }

  .js .slicknav_menu {
    display: block;
  }

  /* left nav */

  .left-nav {
    display: none;
  }

  .header-image {
    display: none;
  }

  .header-text {
    display: none;
  }

  .header-text p {
    display: none;
  }

  .header-image img {
    display: none;
  }
  .left-nav-links {
  }

  .left-nav-links ul {
    list-style-type: none;
    font-size: 2em;
  }

  .mobile_links {
    position: relative;
    padding: 5%;
    display: inline-block;
    float: left;
  }

  .mobile_links a {
    padding-top: 5%;
    padding-left: 2.5%;
    display: block;
  }

  .mobile_img {
    max-width: 100%;

  }
  .mobile_img img {
    max-width: 55%;
    max-height: 55%;
    width: 50%;
    height: auto;
    display: inline-block;
    float: left;
    padding-right: 5%;

  }

  /* footer */
  .copyright {
    font-size: 1em;
    margin-left: 12.5%;
    position: absolute;
    bottom: 2%;
  }

  .copyright p {
    color: $gray;
  }

  /* main */

  .blog-body {
    float: left;
    display: inline-block;
    width: 100%;
    padding: 2.5%;
  }

  .article {
    box-shadow: 0px 2px $gray-darker;
    border-radius: 2%;
    padding-bottom: 1%;
    padding-top: 2%;
  }

  .article--title a, h1 {
    font-family: 'PT Serif', serif;

  }

  .article--date {
    color: $gray-dark;
    font-size: 1.5em;
  }

  .article--text {
    font-size: 1.75em;
    padding: 1%;
  }

}