
$gray-base:              #6B5463;
$gray-darker:            #98758B;
$gray-dark:              #8E6C6E;   // #333
$gray:                   #AB9FAC; // #555
$gray-light:             #BEB6BB; // #777
$gray-lighter:           #B9C8CD; // #eee



/* Opacity
------------*/

/* Usage: set opacity across all browsers easily
/* .faded-text {
/*  @include opacity(0.8);
/* }
*/

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/* Clearfix
-------------*/
/* Usage: use clearfix with ease!
/* .container-with-floated-children {
/*  @extend %clearfix;
/* }
*/

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* Breakpoints
----------------*/

/* Usage: easily set breakpoints for small, medium, and large screens
Either pass the px number through individually, or set it as a variable
/* .sidebar {
/*   width: 60%;
/*   float: left;
/*   margin: 0 2% 0 0;
/*   @include bp-small(400px) {
/*     width: 100%;
/*     float: none;
/*     margin: 0;
/*   }
/* }
/* $size-small: 400px;
/* .sidebar {
/*   width: 60%;
/*   float: left;
/*   margin: 0 2% 0 0;
/*   @include bp-small($size-small) {
/*     width: 100%;
/*     float: none;
/*     margin: 0;
/*   }
/* }
*/

@mixin bp-large($size-large) {
  @media only screen and (max-width: $size-large) {
    @content;
  }
}

@mixin bp-medium($size-medium) {
  @media only screen and (max-width: $size-medium) {
    @content;
  }
}

@mixin bp-small($size-small) {
  @media only screen and (max-width: $size-small) {
    @content;
  }
}

$size-medium: 769px;
$size-small: 35.5em;
$size-large: 64em;

/* border-box
---------------*/
/* Usage
/* Quickly add border-box with all vendor prefixes
/*
/* body {
/*     @include border-box
/* }
*/

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Transition
--------------*/
$transition_type: all .7s ease;
@mixin transition {
  transition: $transition_type;
  -webkit-transition: $transition_type;
  -moz-transition: $transition_type;
  -o-transition: $transition_type;
}

//Rounded Social Share Buttons
$main_background: $gray-light;
$main_text: $gray-darker;
$hover_background: $gray-darker;
$hover_text: $gray-light;

@mixin social_share_rounded {
  a {
    text-decoration: none;
  }
  i {
    background-color: $main_background;
    border-radius: 1.5em;
    color: $main_text;
    display: inline-block;
    height: 1.5em;
    line-height: 2em;
    width: 1.5em;
    text-align: center;
    text-decoration: none;
  }
  .fa-twitter {
    margin-left: 0.5em;
  }
  i:hover {
    @include transition;
    background-color: $hover_background;
    color: $hover_text;
  }
}

* {
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
}

//Social Share
.social-share {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  @include social_share_rounded;
  i {
    font-size: 0.80em;
  }
  .fa-twitter {
    margin-left: 0.8em;
  }
  @include bp-medium($size-medium) {
    padding-bottom: 10%;
  }
}

//PureCSS Grids
/* fix for IE and Firefox responsiveness */
.pure-g {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.pure-g > div[class*="pure-u-"] {
  padding: 0em; //Add gutters to grid columns
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
   Desktop
------------------*/


@media only screen and (min-width: 880px) {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  p {
    color: $gray-light;
  }

  a {
    text-decoration: none;
    color: $gray-lighter;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $gray-dark;
  }


  header {
    display: none;
  }
  /* left nav */

  .left-nav {
    width: 20%;
    height: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: $gray-base;
    float: left;
    display: inline-block;
    position: fixed;
    z-index: -1;
  }

  .header-image {
    max-width: 75%;
    width: auto;
    height: auto;
    margin-left: 12.5%;
    overflow:hidden;
    display: inline-block;
  }

  .header-text {
    margin-left: 12.5%;
  }

  .header-text p {
    color: $gray;
  }

  .header-image img {
    padding-top: 7%;
    max-width:100%;
    max-height:100%;
    margin:auto;
    display:block;
  }
  .left-nav-links {

  }

  .left-nav-links ul {
    list-style-type: none;
    padding-top: 2.5%;
    font-size: 1.25em;
    padding-left: 12.5%

  }

  /* footer */
  .copyright {
    font-size: 0.5em;
    margin-left: 12.5%;
    position: absolute;
    bottom: 2%;
  }

  .copyright p {
    color: $gray;
  }

  /* main
  -----------------*/

  /* currently poorly named means of getting the main body of the page to not be hidden behind the left nav */
  .blog-body {
    float: left;
    display: inline-block;
    margin-left: 25%;
    width: 70%;
    padding: 2.5%;
  }


  .hire-me {
    color: $gray-base;
    font-size: 2.5em;
  }
  .hire-me-header {
    background: $gray-darker;
    color: $gray-lighter;
    a {
      color: $gray-light;
      text-decoration: underline;
    }
  }


  /* blog-like stuff */

  .article {
    box-shadow: 0px 2px $gray-darker;
    border-radius: 2%;
    padding-bottom: 1%;
    padding-top: 2%;
  }

  .article--title a, h1 {
    font-family: 'PT Serif', serif;

  }

  .article--date {
    color: $gray-dark;
    font-size: 1.5em;
  }

  .article--text {
    font-size: 1.75em;
    padding: 1%;
  }

  .mobile-nav {
    display: none;
  }
  .slicknav_menu {
    display:none;
  }
  .mobile_links {
    display:none;
  }

}

@media only screen and (max-width: 880px) {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
  }

  p {
    color: $gray-dark;
  }

  a {
    text-decoration: none;
    color: $gray-dark;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $gray;
  }

  /* mobile navigation */

  .js #primary_nav {
    display: none;
  }

  #primary_nav {
    display: none;
  }

  .js .slicknav_menu {
    display: block;
  }

  /* left nav */

  .left-nav {
    display: none;
  }

  .header-image {
    display: none;
  }

  .header-text {
    display: none;
  }

  .header-text p {
    display: none;
  }

  .header-image img {
    display: none;
  }
  .left-nav-links {
  }

  .left-nav-links ul {
    list-style-type: none;
    font-size: 2em;
  }

  .mobile_links {
    position: relative;
    padding: 5%;
    display: inline-block;
    float: left;
  }

  .mobile_links a {
    padding-top: 5%;
    padding-left: 2.5%;
    display: block;
  }

  .mobile_img {
    max-width: 100%;

  }
  .mobile_img img {
    max-width: 55%;
    max-height: 55%;
    width: 50%;
    height: auto;
    display: inline-block;
    float: left;
    padding-right: 5%;

  }

  /* footer */
  .copyright {
    font-size: 1em;
    margin-left: 12.5%;
    position: absolute;
    bottom: 2%;
  }

  .copyright p {
    color: $gray;
  }

  /* main */

  .blog-body {
    float: left;
    display: inline-block;
    width: 100%;
    padding: 2.5%;
  }

  .article {
    box-shadow: 0px 2px $gray-darker;
    border-radius: 2%;
    padding-bottom: 1%;
    padding-top: 2%;
  }

  .article--title a, h1 {
    font-family: 'PT Serif', serif;

  }

  .article--date {
    color: $gray-dark;
    font-size: 1.5em;
  }

  .article--text {
    font-size: 1.75em;
    padding: 1%;
  }

}

.profile-pic {
  border-radius: 50%;
}

/*  CV stuff
-----------------*/


.category-head {
  display: inline-block;
  float: right;
  @include bp-medium(880px) {
    float: left;
  }
  color: $gray-base;
  margin-bottom: 2.5%;
  font-family: 'PT Serif', serif;
  font-size: large;
}

.date {
  color: $gray;
}
/* SKILLS */

.skills {
  box-shadow: 0px 2px $gray-darker;
  border-radius: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-bottom: 5%;
  @include bp-medium(880px) {
    padding: 1%;
    margin: 2%;
  }
}
.skill-set {
  display: inline-block;
}

.skill--wrapper {
  margin: 2.5%;
}

.skill-specific {
  display: inline;
  width: 25%;
  color: $gray-dark;
  font-family: 'PT Serif', serif;
  font-style: italic;
}

.skills-list {
  width: 55%;
  float: right;
  display: block;
  color: $gray-darker;
}

/* Experience  AKA jobs / positions */

.experience {
  box-shadow: 0px 2px $gray-darker;
  border-radius: 0.25%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-bottom: 5%;
}

.job {
  width: 95%;
  padding: 2.5%;
  display: inline-block;

}

.job--head {
  width: 25%;
  @include bp-medium($size-medium) {
    width: 100%;
  }
  float: left;
  box-shadow: 2px 0px $gray-dark;
  padding-right: 5%;
  text-align: left;
}

.job--title {
  font-family: 'PT Serif', serif;
  font-size: medium;
  color: $gray-dark
}

.job--company {
  font-size: large;
  color: $gray-base;

}

.job--description {
  width: 50%;
  @include bp-medium($size-medium) {
    width: 75%;
  }
  margin-left: 10%;
  display: inline-block;
}

.job--item {
  color: $gray-darker;
  a {
    color: $gray-base;
  }
}

/*  Education  */

.education {
  box-shadow: 0px 2px $gray-darker;
  border-radius: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-bottom: 5%;
  overflow: hidden;
}

.education--wrapper {
  width: 27%;
  margin-left: 2.5%;
  display: inline-block;
  float: left;
  background: $gray;
  box-shadow: 2px 0px $gray-dark;
  @include bp-medium($size-medium) {
    width: 90%;
    background: white;
    box-shadow: none;
    display: block
  }

}
.education--school {
  font-size: large;
  color: $gray-base;
}
.education--course {
  font-family: 'PT Serif', serif;
  font-size: medium;
  color: $gray-dark;
}
.education--gpa {}

/* volunteer */

.volunteer {
  box-shadow: 0px 2px $gray-darker;
  border-radius: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-bottom: 5%;
  @include bp-medium($size-medium) {
    width:100%;
  }
}