<footer>
  <div class="copyright">
  <p>© Nikki Murray and Nikki Liz Murray, 2012-2016. </p>
    <!--<p>Unauthorized use and/or duplication of this material without express and written permission from this sites’s author and/or owner is strictly prohibited.</p>-->
    <!--<p>Excerpts and links may be used, provided that full and clear credit is given to Nikki Murray and Nikki Liz Murray with appropriate and specific direction to the original content.</p>-->
  </div>
</footer>