<div class="mobile-nav">
<nav id="primary_nav">
<ul>
  <ul>
    <li><%= link_to "Code", codes_path%></li>
    <li><%= link_to "Speaking", speakings_path%></li>
    <li><%= link_to "Writing", writings_path %></li>
    <li><%= link_to "Curriculum Vitae", about_me_index_path %></li>
  </ul>
</ul>
</nav>
</div>